
@{
    ViewBag.Title = "About";
}



<h2>Skye Meaker</h2>
<h4>About Me</h4>


<div class="p-3 mb-2 bg-light text-dark">

    <div class="row">
        <div class="col-sm-8">

            <h2>Bio</h2>
            <p>
                My name is Skye and I am a second year Bcom Informatics student that is currently studying INF 272. I am really not great at coding as before this degree I had no experience so it has never came easily but thanks to the lecturers extending the due date I was able to research and understand all of MVC for the first time so thank you! My passion is wildlife photography and my favourite food is sushi.
            </p>

        </div>
        <div class="col-sm-4">

            <h2>Skye Meaker</h2>

            <img src="~/504ab0d4c1248cb1ede908e7d35e1ba3.jpg" alt="Skye Meaker" class="img-thumbnail">

        </div>
    </div>
</div>
