
@{
    ViewBag.Title = "About";
}



<h2>Skye Meaker</h2>
<h4>About Me</h4>



<div class="p-3 mb-2 bg-light text-dark">

    <div class="row">
        <div class="col-sm-8">

            <h2>Bio</h2>
            <p>My name is Skye and I am going to quit this degree. I just want to be happy -_-</p>

        </div>
        <div class="col-sm-4">

            <h2>Skye Meaker</h2>
            <img src= "~/App_Data/A8A0750-1-750x500.jpg" alt="Skye Meaker">

        </div>
    </div>
</div>
