@using u21460494_HW03.Models
@model List<FileModel>

@{
    ViewBag.Title = "Index";
}


<div class="well-sm">
    <h2>Images of any file type</h2>
    <p>
        Files from the "Media/Images/" folder
    </p>
</div>



<div class="p-3 mb-2 bg-light text-dark">

    <div class="row">

        @foreach (FileModel file in Model)
        {

            <div class="gallery">
                <div class="col-md-3">
                    <a href="~/Media/Images/@file.FileName"><img src="~/Media/Images/@file.FileName" alt="HW3IMG" width="320" height="240" /></a>
                </div>

                <p>@file.FileName</p>

                <input type="button" value="Download" class="btn btn-success" onclick="location.href='@Url.Action("DownloadImage", new { fileName = file.FileName })'" />

                <input type="button" value="DELETE" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteImage", new { fileName = file.FileName })'" />


            </div>
        }
    </div>
    </div>


    <script>
        $(document).ready(function ($) {
            $(".gallery a").fancybox();
        });
    </script>
