@using u21460494_HW03.Models
@model List<FileModel>

@{
    ViewBag.Title = "Index";
}


<div class="well-sm">
    <h2>Video of any file type</h2>
    <p>
        Files from the "Media/Videos/" folder
    </p>
</div>


<div class="row">

    @foreach (FileModel file in Model)
    {

        <div class="gallery">
            <div class="col-md-3">
              <a href="~/Media/Videos/@file.FileName"><video src="~/Media/Videos/@file.FileName" type="video/mp4"  alt="HW3VID" width="320" height="240" /></a>
            </div>
            
        

            <p>@file.FileName</p>

            <input type="button" value="Download" class="btn btn-success" onclick="location.href='@Url.Action("DownloadVideo", new { fileName = file.FileName })'" />

            <input type="button" value="DELETE" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteVideo", new { fileName = file.FileName })'" />
            <br />

        </div>
        
    }
</div>



<script>
    $(document).ready(function ($) {
        $(".gallery a").fancybox();
    });
</script>
