@using u21460494_HW03.Models
@model List<FileModel>


@{
    ViewBag.Title = "Downloader";
}
<head>
    <style type="text/css">
        .auto-style {
            color: #FFFFFF;
        }

        .t {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<div class="well-sm">
    <h2>Documents of any file type</h2>
    <p>
        This is for Downloading/deleting files from the "Media/Documents/" folder
    </p>
</div>

@*
    Will generate as item but can be renamed.
*@
<div style="height: 400px; overflow: auto;">
    <div class="well-sm">
        <table class="table table-condensed table-hover">
            <thead style="position: sticky;top: 0">
                <tr bgcolor="#222222" class="auto-style">
                    <th class="col-lg-8">File Name</th>
                    <th class="t, col-lg-2">DOWNLOAD</th>
                    <th class="t, col-lg-2">DELETE</th>
                </tr>
            </thead>

            @foreach (FileModel file in Model)
            {
        <tr>
            @*
        Default >> @Html.DisplayFor(modelItem => file.FileName)
            *@

            <td>@file.FileName</td>
            <td>
                <input type="button" value="Download" class="btn btn-success" onclick="location.href='@Url.Action("DownloadFile", new { fileName = file.FileName })'" />


            </td>
            <td>
                <input type="button" value="DELETE" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteFile", new { fileName = file.FileName })'" />

            </td>
            

        </tr>
            }
        </table>
    </div>
</div>